@import './footer.css';
@import './header.css';

/* main css page for universal formating */
html, body {
  margin: 0;
}

main{
  flex-grow: 1;
  margin: 1rem;
}

body {
  font-family: "Atkinson Hyperlegible Next", sans-serif;
  background-color: #ffffff;
  color: #000000;
  min-height: 100vh;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the container takes at least the full viewport height */
  margin: 0; /* Optional: Remove default body margin */
}

