@import './footer.css';
@import './header.css';
@import './main.css';

.login-page{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom:50px;
    justify-content: center;
    align-items: center;
}