@import './footer.css';
@import './header.css';
@import './main.css';

.page-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 120px 20px 20px;
  }
  
  .page-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .form-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
  }
  
  .section-title {
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  input,
  textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  
  .checkbox-group {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  button {
    padding: 10px;
    border: 1px solid #000;
    background: #B8B8B8;
    color: #000;
    border-radius: 6px;
    cursor: pointer;
  }
  
  button:hover {
    background: #E3E3E3;
  }
  
  .error {
    color: red;
    font-size: 14px;
  }
  
  .success {
    color: green;
    font-size: 14px;
  }